# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystems are summarized

__Objectives:__
*  List Popular languages used in data science
*  List Popular libraries and tools used in data science
*  Explore examples of how python code can be used in jupyter notebooks

Some of the popular languages that Data Scientists use are:
1.  Python
2.  R
3.  SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. TensorFlow

|Data Science Tools|
|---|
|RStudio|
|Apache hadoop|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [5]:
# This converts 200 minutes to hours.
200/60

3.3333333333333335

## Author
David Bean